<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/bootstrap.css")
    body
        .container.mt-3.p-3
            form(action="/submit", method="POST", target="_self")
                .form-group
                    label(for="cars") Cars 
                    select(name="cars", id="cars")
                        option(value="volvo") Volvo
                        option(value="saab") Saab
                        option(value="fiat") Fiat
                        option(value="audi") Audi                            
                .form-group
                    h3 Socioeconomic Status
                    label(for="poor") Poor                     
                    input(type="radio", id="poor", name="status", value="poor") 
                    br
                    
                    label(for="middle") Middle
                    input(type="radio", id="middle", name="status", value="middle")
                    br

                    label(for="rich") Rich                    
                    input(type="radio", id="rich", name="status", value="rich")
                    br
                    
                input(type="submit", value="Submit")

            