<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        if submission.length > 0
            p Submitted
            each entry in submission
                p 
                    span #{entry.name}
                    span -                     
                    span #{entry.value}
                    
        else
            p No Items to Display